[clase~="502"] {
    color:red;
}
[clase~="502"] {

a:hover {
    background-color: yellow;
}

a:active {
    background-color: blue;
    text-decoration: underline;
}



.mitad1 
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}
.mitad2 {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}
.animaciones
{ width: 200.px;
    height: 200.px;
    background-color: red;
    animation-name:animar;
    animation-duration: 120s;
}  

#animar {
    width: 100px;
    height: 100px;
    background: #8e44ad;
    animation-name: animar;
    animation-duration: 4s;
    position: relative;
  }
  @keyframes animar{
    from {background-color: red}
    to {background-color: blue}

    
    @keyframes animar {
        0% {background: red;}
        50% {background: white;}
        100% {background: blue;}
      } 

      section p {color:blue;} 
      section > p {color:yellow;}    
      h2 + p {color:green;} 
      section > div h2 + p{color:orange;}

       } 

    #encabezado{
    width: 1000px;
    height: 100px;
    background: blue;
    background: yellow;
    }

    #cuerpo {
    width:1400px;
    height: 600px;
    background: green;

    color:blue;
     }
    
    .cuerpo {
    width: 700px;
    height: 1500px;
    float:left;
    border:1px solid #CCC;
     background: green;
    background: orange;


    #pie {
    width:1400px;
    height:100px;
   background: purple;
    background: black;
     }